/* global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#pageWrap {
  border: 1px solid rgb(206, 202, 202);
  max-width: 80%;
  margin: 0 auto;
}

/* header section */
#headerSection {
  height: 64px;
}

/*logo */
#logoHeader {
  line-height: 32px;
  padding-top: 15px;
  width: 50%;
}

#logoImg {
  float: left;
}
/* navbar */

nav li {
  list-style: none;
  display: inline-block;
  padding: 16px;
  float: right;
}

nav li a {
  text-decoration: none;
  color: black;
}

/* banner */

#banner {
  background-color: #cfcfcf;
}

#banner img {
  margin: 32px 0;
  max-width: 100%;
  height: auto;
}

#bannerContent {
  margin-left: 24px;
}

#bannerButton {
  text-align: center;
  margin: 0 auto;
  background-color: #4a4a4a;
  width: 100%;
  padding: 8px;
  color: white;
}

/* practice section */

#practice img {
  margin: 32px 0;
  max-width: 100%;
}

.thumbnailImg {
  width: 100%;
  height: auto;
}

.practiceInfo {
  border-left: 1px solid rgb(206, 202, 202);
}

.onePracticeInfo {
  border-bottom: 1px solid rgb(206, 202, 202);
}

#guestLecture {
  background-color: rgb(206, 202, 202);
}

/* start learning section */
#learningHeader {
  text-align: center;
  padding: 32px;
}

#startLearning {
  margin: 0 auto;
  background-color: #eaebec;
}

#multipleCards {
  max-width: 80%;
  max-height: 100%;
}

.oneCard {
  padding-bottom: 24px;
  margin-bottom: 32px;
}

/* Thesis exhibit */
#thesisExhibit {
  border-bottom: 1px solid rgb(206, 202, 202);
  padding-bottom: 32px;
}

#thesisExhibitHeader {
  text-align: center;
  padding: 32px;
}

#thesisExhibit video {
  max-width: 100%;
}

.exhibitInfo {
  padding: 16px;
}
