/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#pageWrap {
  border: 1px solid rgb(206, 202, 202);
  max-width: 80%;
  margin: 0 auto;
}

/* Header section */
/*logo */
#logoHeader {
  line-height: 32px;
  padding-top: 15px;
  width: 50%;
}

#logoImg {
  float: left;
}
/* navbar */

#desktop nav {
  float: right;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 16px;
}

/* Header section Desktop */
@media only screen and (min-width: 576px) {
  #mobile {
    display: none;
  }
}

/* Header section Mobile */
@media only screen and (max-width: 576px) {
  #desktop {
    display: none;
  }

  #logoGroup {
    margin-top: 20px;
  }

  .logoImg {
    width: 40px;
  }
}

/* banner */
#banner {
  background-color: #cfcfcf;
}

#banner img {
  margin: 32px 0;
  max-width: 100%;
  height: auto;
}

#bannerContent {
  margin-left: 24px;
}

#bannerButton {
  text-align: center;
  margin: 0 auto;
  background-color: #4a4a4a;
  width: 90%;
  padding: 8px;
  color: white;
}

/* Banner section Mobile */
@media only screen and (max-width: 576px) {
  #bannerButton {
    margin: 24px auto 32px auto;
  }
}

/* practice section */
#practice img {
  margin: 32px 0;
  max-width: 100%;
}

.thumbnailImg {
  width: 100%;
  height: auto;
}

.practiceInfo {
  border-left: 1px solid rgb(206, 202, 202);
}

.onePracticeInfo {
  border-bottom: 1px solid rgb(206, 202, 202);
}

#guestLecture {
  background-color: rgb(206, 202, 202);
}

/* practice section mobile */
@media only screen and (max-width: 576px) {
  .practiceMedia {
    display: none;
  }
}

/* start learning section */
.learningHeader {
  text-align: center;
  padding: 32px;
}

.startLearning {
  background-color: #eaebec;
}

#multipleCards {
  max-width: 80%;
  margin: 0 auto;
  max-height: 100%;
}

.oneCard {
  padding-bottom: 24px;
  margin-bottom: 32px;
}

/* start learning desktop */
#startLearningDesktop {
  background-color: #eaebec;
}

@media only screen and (min-width: 576px) {
  #startLearningMobile {
    display: none;
  }
}

/* start learning mobile */
#startLearningMobile li {
  list-style: none;
  padding: 16px 24px;
  margin: 8px;
  background-color: #eaebec;
  display: block;
  max-width: 576px;
}

@media only screen and (max-width: 576px) {
  #startLearningDesktop {
    display: none;
  }
  .learningHeader {
    padding: 16px;
  }
}

/* Thesis exhibit */
#thesisExhibit {
  border-bottom: 1px solid rgb(206, 202, 202);
  padding-bottom: 32px;
}

#thesisExhibitHeader {
  text-align: center;
  padding: 32px;
}

#thesisExhibit video {
  max-width: 100%;
}

.exhibitInfo {
  padding: 16px;
}

#thesisFisma {
  background-color: rgb(206, 202, 202);
}
/* Thesis exhibit mobile */
@media only screen and (max-width: 576px) {
  #thesisExhibitBoxes {
    display: none;
  }
  #thesisExhibitFigCaption {
    display: none;
  }
}

/* Footer section */
footer {
  padding: 16px;
}

#footerConditions {
  float: right;
}

#footerConditions a {
  text-decoration: none;
  color: #4a4a4a;
}

/* Footer mobile */
@media only screen and (max-width: 576px) {
  #footerConditions {
    display: none;
  }
}
